:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: all 1s ease-in-out;
}

body {
  background-color: var(--navy);
}

.navbar-brand {
  height: max-content;
  font-weight: 600;
  font-size: 2rem;
}

.social-media-container {
  position: fixed;
  bottom: 0;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social-media-container::after {
  content: "";
  width: 1px;
  height: 10rem;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.social-media-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.email-container {
  position: fixed;
  bottom: 0;
  right: -1%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.email-container::after {
  content: "";
  width: 1px;
  height: 10rem;
  margin: 0px auto;
  background-color: var(--light-slate);
}
.email-container p {
  margin-bottom: 5rem;
  transform: rotate(90deg);
}

@media only screen and (max-width: 500px) {
  .social-media-container {
    position: relative;
    width: max-content;
    left: 0;
    top: 0;
    flex-direction: row;
  }
  .social-media-container::after {
    content: "";
    width: 0;
    height: 0;
    margin: 0px auto;
    background-color: var(--light-slate);
  }
  .email-container {
    position: fixed;
    width: max-content;
    right: -4rem;
    font-size: 1rem;
  }
}

.container {
  max-width: 80%;
  height: max-content;
}

.intro-start {
  margin-top: 10%;
  color: var(--green);
  font-family: var(--font-mono);
}
.name {
  color: var(--lightest-slate);
  font-weight: 700;
}
.role {
  color: var(--slate);
  font-weight: 900;
}
.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}
.intro-body {
  color: var(--slate);
  max-width: 60%;
}
@media only screen and (max-width: 768px) {
  .intro-body {
    font-size: 1rem;
  }
}

.timeline {
  color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
  height: 96%;
}
.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.timeline ul li span {
  display: inline-block;
  background-color: #1685b8;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 1.5rem;
  text-align: center;
}
.timeline ul li .content h3 {
  color: #34ace0;
  font-size: 1.25rem;
  padding-top: 5px;
}
.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 1.1rem;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34ace0;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  background-color: #071f2a;
}
.timeline ul li:hover:before {
  background-color: #0f0;
  box-shadow: 0px 0px 10px 2px #0f0;
}
@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}

.work-container::after span.line {
  position: absolute;
  width: 1px;
  background-color: #ff4c60;
  top: 30px;
  bottom: 30px;
  left: 30px;
}

/*Project Card css*/
.card {
  height: 50vh;
  width: 80%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 0 5px 5px var(--dark-navy);
  -webkit-transition: 0.4s ease-in-out opacity;
  -moz-transition: 0.4s ease-in-out opacity;
  -o-transition: 0.4s ease-in-out opacity;
  transition: 0.4s ease-in-out opacity;
  border: 0px;
}

/*Image*/
.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--slate);
  background: linear-gradient(to right, var(--dark-navy), var(--light-navy));
  max-height: 100%;
  overflow: auto;
}
.card-image::-webkit-scrollbar {
  display: none;
}

/*Description */
.card-description {
  display: flex;
  position: absolute;
  gap: 1em;
  flex-direction: column;
  height: 100%;
  bottom: 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0;
}

/*Text*/
.text-title {
  font-size: 1.4em;
  font-weight: 700;
}

.text-body {
  font-size: 1em;
  line-height: 150%;
}

/* Hover states */

.card:hover .card-description {
  transform: translateX(90%);
}
.projects-container {
  width: 100%;
}

.projects-container .card:nth-child(odd) {
  position: relative;
  left: 0%;
  width: 60%;
}
.projects-container .card:nth-child(odd) .card-description::after {
  content: "";
  /* background-color: var(--dark-slate); */
  height: 50px;
  width: 50px;
  position: relative;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid var(--slate);
}

.projects-container .card:nth-child(even) {
  position: relative;
  left: 40%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.projects-container .card:nth-child(even) .card-description::after {
  content: "";
  background-color: var(--dark-slate);
  height: 50px;
  width: 50px;
  position: relative;
  left: 90%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid var(--slate);
}

@media only screen and (max-width: 768px) {
  .projects-container .card:nth-child(odd) {
    position: relative;
    left: 0;
    width: 100%;
  }
  .projects-container .card:nth-child(even) {
    position: relative;
    left: 0;
    width: 100%;
  }
  .card-description {
    font-size: 1rem;
  }
  .card-image {
    font-size: 1rem;
  }
}

.projects-container .card:hover:nth-child(odd) .card-description {
  transform: translateX(50%);
  opacity: 1;
}
.projects-container .card:hover:nth-child(even) .card-description {
  transform: translateX(-50%);
  opacity: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.pointer:hover {
  cursor: pointer;
}

.toggle-zoom {
  display: none;
}
